nav,
ul {
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  list-style-type: none;
  gap: 25px;
}

nav {
  background-color: #272727;
  color: rgb(234, 226, 210);
  padding: 25px;
}

h1 {
  font-size: 30px;
}
ul li {
  border: rgb(208, 208, 211) solid 1px;
  background-color: #272727;
  border-radius: 25px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 15px;
  transition: all ease 0.5s;
  cursor: pointer;
}

ul li:hover {
  background-color: rgb(208, 208, 211);
  color: #272727;
}
